<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <a href="https://israelontanilla.es">{{web}}</a>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Me apasiona el desarrollo en cualquiera de sus ambitos. Actualmente estoy aprendiendo por mi cuenta Android, que es la tecnologia en la que me gustaría crecer profesional. Tengo interés por el Big Data y el machine learning.
    </p>
    <h2>Mis habilidades</h2>
    <p>Estas son las habilidades que he aprendido a lo largo de estos años como estudiante.</p>           
    <br/>

    <h5> HTML </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 90%"></div>
    </div>
    <br/>

    <h5> CSS </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 70%"></div>
    </div>
    <br/>

    <h5> Javascript </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 70%"></div>
    </div>
    <br/>

    <h5> BootStrap </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 85%"></div>
    </div>
    <br/>

    <h5> Angular</h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 70%"></div>
    </div>
    <br/>

    <h5> Java 8 SE </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 95%"></div>
    </div>
    <br/>

    <h5> Java 8 EE </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 95%"></div>
    </div>
    <br/>

    <h5> Java Fx </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 95%"></div>
    </div>
    <br/>

    <h5> Java Swing </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 95%"></div>
    </div>
    <br/>

    <h5> C# </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 90%"></div>
    </div>
    <br/>

    <h5> ASP.NET </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 85%"></div>
    </div>
    <br/>

    <h5> Windows Form </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 75%"></div>
    </div>
    <br/>

    <h5> PHP </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 90%"></div>
    </div>
    <br/>

    <h5> SQLserver </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 95%"></div>
    </div>
    <br/>

    <h5> MySQL </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style=
        "width: 90%"></div>
    </div>
    <br/>
    <br/>
</article>